<div class="modal-header">
    <h4 class="modal-title"> {{ name }} </h4>
    <button type="button" class="btn-close close float-end" aria-label="Close" (click)="close()">
        <span aria-hidden="true" class="visually-hidden">&times;</span>
    </button>
</div>
<div class="modal-body">
    <table class="table">
        <thead>
            <tr>
                <th> Fecha </th>
                <th> Valor </th>
                <th> Variaci&oacute;n </th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of indicatorHistory?.serie | slice:0:10; let i = index">
                <td> {{ item.fecha | date:'shortDate' }} </td>
                <td *ngIf="getMeasurementUnitText(indicatorHistory?.unidad_medida ?? '') == '$' || getMeasurementUnitText(indicatorHistory?.unidad_medida ?? '') == 'USD'"> {{ item.valor | currency }} </td>
                <td *ngIf="getMeasurementUnitText(indicatorHistory?.unidad_medida ?? '') == '%'"> {{ item.valor | percent }} </td>
                <td>
                    <p>
                        {{ item.variacion | percent:'1.2-2' }}

                        <fa-icon [icon]="getIcon(item)" [ngClass]="{ 'text-success': (item.variacion > 0), 'text-danger': (item.variacion < 0) }"></fa-icon>
                    </p>
                </td>
            </tr>
        </tbody>
    </table>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-primary btn-sm float-end" (click)="close()">Cerrar</button>
</div>